<!-- This is the HTML Template for the page depicting 360 images inside the Airbnb Layout -->
  

{% extends "global/Page.html" %}

{% load otree %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  
<!-- defining the styles -->

  <style>    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
.holder{
    width: 100%;
    height:350px;
    position:relative
}
.frame{
    width:100%;
    height:100%;
}

.backbutton{
    position:fixed;
    top: 90%;
    width:100%;
    visibility:hidden
    }
    
.fullscreen{
    background-color: grey;
    border: 2px solid black;
    }
    
    
#rcorners1 {
  border-radius: 10px;
  background: grey;
  border: 2px solid black;
  padding: 6px; 
  width: 100px;
}
    
  </style>
</head>
<body>

<!--Change URL of IFrame to Host URL-->

<div class="holder">

  <iframe 
  class = "frame"
  src="http://ec2-3-121-239-161.eu-central-1.compute.amazonaws.com:8081/index.html" 
  id = 'frame'
  onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' 
  style="height:350px;width:100%;border:none;overflow:hidden;" 
  allow="gyroscope; accelerometer"
  ></iframe> 
  
  <!-- Create Back Button for closing fullscreen mode. Use previous defined style and add Event Listener to Object in <script> -->
  <div class="backbutton" id = 'back' align = 'center'>  
   <b> 
   <p text-align='center' id="rcorners1">Back</p> 
   </b>
  </div>
  
</div>


<!-- Create Button for entering fullscreen mode. Use previous defined style and add Event Listener to Object in <script> -->
<div class = "fullscreen" id = "fullscreen" align = "center">
FullScreen
</div>

<!-- Replicate Airbnb Design by using HTML containers -->
  
<div class="container">
    <p>
    <b><font size="2" color="darkred"> PRIVATE ROOM IN HOUSE</font></b>
      <br>
    <b><font size="6">Cozy Room in City Center</font></b>
  </p>
<br>
      <font size="3">Karlsruhe, BW, Germany</font>
      <img src="https://img.icons8.com/windows/64/000000/user-male.png" align="right" />
      <br>
      <br>
      <br>
  <p>
      <font size="2">Enter your travel dates to see the total price per night.</font>
  </p>
<hr>
<div class="container" id="demo">
     <div class="media">
      <div class="media-left media-top">
        <img src="https://img.icons8.com/material-outlined/32/000000/exterior.png" class="media-object" style="width:20px">
      </div>
      <div class="media-body">
        <h5 class="media-heading"><b> Private room in house</b></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>
    </div>
    <hr>
    <div class="media">
      <div class="media-left media-top">
        <img src="https://img.icons8.com/windows/32/000000/espresso-cup.png" class="media-object" style="width:20px">
      </div>
      <div class="media-body">
        <h5 class="media-heading"><b>Breakfast</b></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, s aliqua.</p>
       </div>
    </div>
    <hr>
    <div class="media">
      <div class="media-left media-top">
        <img src="https://img.icons8.com/windows/32/000000/marker.png" class="media-object" style="width:20px">
      </div>
      <div class="media-body">
        <h5 class="media-heading"><b>Great location</b></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, .</p>
       </div>
    </div>
    <hr>
    <div class="media">
        <div class="media-left media-top">
          <img src="https://img.icons8.com/windows/32/000000/key-security.png" class="media-object" style="width:20px">
        </div>
        <div class="media-body">
          <h5 class="media-heading"><b>Great check-in experience</b></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, .</p>
         </div>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <hr>
</div>
</div>

<!-- Add Event Listener to objects and call functions accordingly  -->

<!-- When clicked on Full screen button: Change size of iFrame to full size & set back button to visible  -->

<!-- When clicked on Back button: hide back button and set size of iFrame back to original size  -->

<!-- Track timestamp of events and save data through Django REST API  -->

<script>

    document.getElementById("demo").addEventListener("click", trackEvent);
    document.getElementById("fullscreen").addEventListener("click", changeFrame);
    document.getElementById("back").addEventListener("click", backFrame);
    
    function trackEvent() {
    
    var time = new Date().getTime();
    var date = new Date(time);
    
        $.post("http://ec2-3-121-239-161.eu-central-1.compute.amazonaws.com:8010/api/event/create",
        {
          timestamp : date.toString(),
          item: "demo",
          event: "Touch"
        });
    }
    

    
    function changeFrame () {
     frame = document.getElementById("frame")
     frame.style.position = 'fixed';
     frame.style.top = '0px';
     frame.style.left = '0px';
     frame.style.bottom = '0px';
     frame.style.right = '0px';
     frame.style.width = '100%';
     frame.style.height = '100%';
     
     document.getElementById("back").style.visibility = 'visible';

     var time = new Date().getTime();
     var date = new Date(time);
     
     
     $.post("http://ec2-3-121-239-161.eu-central-1.compute.amazonaws.com:8010/api/fullscreen/create/",
        {
          timestamp : date.toString(),
          page: "VR Page",
          event: "FullScreen Open"
        });
     
    }
    

     function backFrame () {
     
     document.getElementById("back").style.visibility = 'hidden';
     
     frame = document.getElementById("frame")
     frame.style.width = '100%';
     frame.style.height = '350px';
     frame.style.position = 'static';
     
     
     var time = new Date().getTime();
     var date = new Date(time);
      
     
          $.post("http://ec2-3-121-239-161.eu-central-1.compute.amazonaws.com:8010/api/fullscreen/create/",
        {
          timestamp : date.toString(),
          page: "VR Page",
          event: "FullScreen Close"
        });
     
    }
     

    
    </script>

</body>
</html>



<button class="otree-btn-next btn btn-primary next-button otree-next-button">Finish this section</button>



{% endblock %}